/* Sidebar */
.sidebar {
    background-color: #137c8b; /* Couleur de fond */
    color: white;
    min-height: 100vh;
    padding: 30px;
    width: 320px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.sidebar .btn {
    font-weight: bold;
}

/* Bouton de bascule dans la sidebar */
.sidebar .toggle {
    border: none; /* Enlever la bordure */
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Aligner l'icône en bas */
    height: 40px; /* Hauteur du bouton */
    cursor: pointer; /* Changer le curseur au survol */
    color: #fafafa;
    position: absolute;
    bottom: 20px; /* Placer le bouton en bas de la sidebar */
    left: 50%;
    transform: translateX(-50%); /* Centrer le bouton horizontalement */
    z-index: -2; /* Assurer que le bouton est au-dessus des autres éléments */
    transition: color 0.3s ease; /* Animation de couleur au survol */
}

/* Centrer l'icône verticalement et appliquer la taille */
.sidebar .toggle-btn i {
    font-size: 24px; /* Taille de l'icône */
    color: #fafafa; /* Couleur de l'icône */
    transition: transform 0.3s ease; /* Ajoute une transition pour l'animation */
}

/* Ajouter un effet de survol */
.sidebar .toggle-btn:hover i {
    color: #f1f1f1; /* Légère modification de la couleur au survol */
    transform: rotate(180deg); /* Animation de rotation de l'icône au survol */
}

/* Main Content */
.main-content {
    margin-left: 320px; /* Ajuster l'espace à gauche en fonction de la largeur de la sidebar */
    padding: 20px;
}

.main-content .table thead {
    background-color: #137c8b; /* En-tête de tableau avec la même couleur */
    color: white;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Input Group */
.input-group-text {
    background-color: #137c8b;
    color: white;
}

.card {
    margin-top: 20px;
}

/* Logo Container */
.logo-container {
    width: 100%;
    height: 200px; /* Vous pouvez ajuster la hauteur en fonction de votre design */
    background-image: url('../../../assets/logo.png'); /* Chemin vers votre logo */
    background-size: contain; /* L'image sera redimensionnée pour s'adapter au conteneur */
    background-repeat: no-repeat; /* L'image ne se répétera pas */
    background-position: center; /* L'image sera centrée dans le conteneur */
}
.toggle-m {
    font-size: 50px; /* Taille de l'icône */
    color: #fafafa; /* Couleur de l'icône */
    transition: transform 0.3s ease; /* Ajoute une transition pour l'animation */
    cursor: pointer; /* Changer le curseur au survol */
    margin-top: 650px;
    margin-left: 100px;

}
.mes {
    font-size: 18px;
}
.modal-header {
    background-color: #137c8b;
    color: white;
  }
  
  .modal-title {
    font-weight: bold;
  }
  
  .status-blocked .blocked-icon {
    width: 100px;
    height: 100px;
    border: 3px solid red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .status-blocked .blocked-icon span {
    font-size: 2.5rem;
    color: red;
  }
  
  .status-allowed p {
    color: green;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .img-thumbnail {
    border: 2px solid #ddd;
  }
  