<app-sidebar></app-sidebar>

<div class="main-content">
  <div class="dashboard-container">
    <!-- Bloc pour les statistiques et vues globales -->
    <div class="overview-section">
      <div class="stat-card">
        <h3>Total Utilisateurs</h3>
        <p>250</p>
      </div>
      <div class="stat-card">
        <h3>Pointages Aujourd'hui</h3>
        <p>175</p>
      </div>
      <div class="stat-card">
        <h3>Retards</h3>
        <p>5</p>
      </div>
    </div>
    
  </div>
  /* <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="stats-container mt-5 mb-5">
        <div class="stat-box">
          <div class="icon-circle bg-primary">
            <i class="bi bi-building text-white"></i>
          </div>
          <div class="stat-info">
            <span class="stat-title">Départements</span>
            <span class="stat-number bg-primary text-white">10</span>
          </div>
        </div>
        <div class="stat-box">
          <div class="icon-circle bg-success">
            <i class="bi bi-people text-white"></i>
          </div>
          <div class="stat-info">
            <span class="stat-title">Cohortes</span>
            <span class="stat-number bg-success text-white">5</span>
          </div>
        </div>
        <div class="stat-box">
          <div class="icon-circle bg-warning">
            <i class="bi bi-person-badge text-white"></i>
          </div>
          <div class="stat-info">
            <span class="stat-title">Employés</span>
            <span class="stat-number bg-warning text-white">150</span>
          </div>
        </div>
        <div class="stat-box">
          <div class="icon-circle bg-danger">
            <i class="bi bi-mortarboard text-white"></i>
          </div>
          <div class="stat-info">
            <span class="stat-title">Apprenants</span>
            <span class="stat-number bg-danger text-white">300</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  