<app-sidebar></app-sidebar>

<div class="main-content">
  <div class="dashboard-container">
    <!-- Bloc pour les statistiques et vues globales -->
    <div class="overview-section">
      <div class="stat-card">
        <h3>Total Utilisateurs</h3>
        <p>250</p>
      </div>
      <div class="stat-card">
        <h3>Pointages Aujourd'hui</h3>
        <p>175</p>
      </div>
      <div class="stat-card">
        <h3>Retards</h3>
        <p>5</p>
      </div>
    </div>
    

    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="stats-container mt-5 mb-5">
          <div class="stat-box">
            <div class="icon-circle">
              <i class="bi bi-people text-success"></i>
            </div>
            <div class="stat-info">
              <span class="stat-title">Nombre d'utilisateurs</span>
              <span class="stat-number">5,423</span>
            </div>
          </div>
          <div class="stat-box">
            <div class="icon-circle">
              <i class="bi bi-person-check text-success"></i>
            </div>
            <div class="stat-info">
              <span class="stat-title">UTILISATEURS</span>
              <span class="stat-number">1,893</span>
            </div>
          </div>
          <div class="stat-box">
            <div class="icon-circle">
              <i class="bi bi-display text-success"></i>
            </div>
            <div class="stat-info">
              <span class="stat-title">ADMIN</span>
              <span class="stat-number">189</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  